.headerText{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 40px;

letter-spacing: 0.01em;
color: #111430;
}

.headerParagraph{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;


letter-spacing: 0.005em;

color: #000000;

}

.hireButton{
width: 170px;
height: 45px;
background-color: #111430 ;
border: none;
color: white;
border-radius: 5px;

}