ul a:hover{
    color: rgb(15, 17, 15) !important ;
  }


nav li {
      text-align: center;
      text-transform: uppercase;
     }
     
     li > a:after{
      content: '';
      display: block;
      height: 1.8px;
      background: rgb(22, 24, 22);
      transform: scaleX(0);
      transition: transform .3s;
  }
  li > a:hover:after{
      transform: scaleX(1);
      transition: transform .3s;
  }
  .active{
      color: black !important ;
  }

  